In [35]:
import numpy as np
from numpy import linalg
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.decomposition import TruncatedSVD # TruncatedSVD
import pandas as pd

In [36]:
import sqlite3
cnx = sqlite3.connect('news-dbc.sqlite')

In [37]:
#  corpus = pd.read_csv("El Pais DataSet.csv")
#  del corpus['Title']
#  del corpus['Summary']
#  del corpus['Date']
#  del corpus['URL']
#  del corpus['ArticleID']


#  corpus.Content

In [38]:
corpus = pd.read_sql_query("SELECT * FROM articles_processed ", cnx)
corpus.content

0       indian carrier air india report cancel delhimo...
1       usbas cyber secur group claim massiv cyberespi...
2       madra high court first bench chief justic muni...
3       yearold auto driver gautam kumar thakur caught...
4       ahead congress parti protest rise electr price...
                              ...
4943    rosario carrasco put home guarante son could g...
4944    last three year spain scientif communiti warn ...
4945    decad kind famili like stay headlin ran type c...
4946    week specul argentinean presid cristina fernán...
4947    question product never serious address spain e...
Name: content, Length: 4948, dtype: object

TFIDF vectorization

In [39]:
vectorizer=TfidfVectorizer(max_features=1000)
vectors = vectorizer.fit_transform(corpus.content)
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
df_vecs = pd.DataFrame(dense, columns=feature_names)
df_vecs

,abl,accept,access,accord,account,accus,achiev,across,act,action,...,world,worth,would,write,wrote,year,yearold,yet,you,young
0,0.000000,0.000000,0.000000,0.042010,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
1,0.000000,0.000000,0.030312,0.017819,0.000000,0.000000,0.000000,0.024805,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.014276,0.000000,0.000000,0.0,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.038487,0.0,0.0,0.031430,0.000000,0.000000,0.0,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.551459,0.000000,0.000000,0.114860,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.116972,0.000000,0.0,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.077635,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4943,0.000000,0.000000,0.000000,0.000000,0.045862,0.061622,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.088933,0.0,0.0,0.048417,0.000000,0.000000,0.0,0.000000
4944,0.046686,0.000000,0.000000,0.015950,0.024209,0.000000,0.000000,0.000000,0.000000,0.0,...,0.051150,0.0,0.031297,0.0,0.0,0.153346,0.082796,0.000000,0.0,0.109075
4945,0.000000,0.039862,0.000000,0.000000,0.031158,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.082236,0.000000,0.000000,0.0,0.000000
4946,0.000000,0.000000,0.000000,0.000000,0.000000,0.060895,0.000000,0.000000,0.000000,0.0,...,0.031919,0.0,0.029295,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
4947,0.011959,0.000000,0.013902,0.016344,0.012403,0.000000,0.014723,0.000000,0.000000,0.0,...,0.008735,0.0,0.040086,0.0,0.0,0.058924,0.000000,0.012445,0.0,0.000000

LDA

In [40]:
lda = LatentDirichletAllocation(n_components=25,learning_method='online', max_iter=20, random_state=100)
lda_matrix = lda.fit_transform(df_vecs)
lda_topics = lda.fit(df_vecs)

In [41]:
def display_topics(model, feature_names, no_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print ("Topic" , topic_idx, " " .join([feature_names[i] for i in topic.argsort()[:-no_top_words - 1:-1]]))
no_top_words = 10
display_topics(lda, feature_names, no_top_words)

Topic 0 parti investig citizen model agenc accus money court join give
Topic 1 planet mar worker star ukrain health parti distanc earth galaxi
Topic 2 space flight nasa earth mission airlin passeng mar airport launch
Topic 3 limit congress polic parti privat screen pandem minist approv said
Topic 4 futur retail group asset said court polic file alleg crore
Topic 5 crore launch time said govern presid offici minist india sea
Topic 6 tax oneplus incom file agenc budget asset financ corpor pay
Topic 7 billion worth brain achiev list student educ minist energi index
Topic 8 parti citizen model join elect govern love give bring said
Topic 9 chief polic protest area case tri hospit wednesday indian read
Topic 10 car polic leader crore congress bank peopl son action posit
Topic 11 russian russia ukrain war kill forc council said presid foreign
Topic 12 hospit polic father son court investig medic offici parent later
Topic 13 tourism crisi cut hospit contribut foreign econom hotel gdp book
Topic 14 congress tax tri parti leader properti tourist opposit take rais
Topic 15 spain said year also say one work new compani spanish
Topic 16 polic got accus help start identifi exampl out tri term
Topic 17 per cent price crore bank billion growth rate market india
Topic 18 kilomet bill earth planet brain distanc object polic station said
Topic 19 asset tax digit parti incom said minist india court elect
Topic 20 mar surfac condit agreement chief made treatment area resid medic
Topic 21 session cell budget phone bill mobil hous insid special die
Topic 22 point nifti cent sensex trade per index stock close market
Topic 23 tax parti congress file minist crore also chief april incom
Topic 24 news india bodi relat alleg intern son offic foreign father

LSA

In [42]:
sv_dec_lsa = TruncatedSVD(n_components = 25,algorithm='randomized')
lsa_mat = sv_dec_lsa.fit_transform(vectors)
# Sigma = sv_dec_lsa.singular_values_ 
# V_transpose = sv_dec_lsa.components_.T
terms = vectorizer.get_feature_names()

In [43]:
display_topics(sv_dec_lsa, terms, no_top_words)

Topic 0 spain said year say also one compani work spanish peopl
Topic 1 per cent nifti point trade sensex index stock price market
Topic 2 spain tax govern spanish million economi billion countri tourism european
Topic 3 vaccin infect covid death case test studi virus health omicron
Topic 4 india game cricket indian match crore player olymp ipl tax
Topic 5 film movi actor vaccin death releas case covid crore infect
Topic 6 compani user space appl launch app film mission nasa earth
Topic 7 space film earth nasa planet mission star movi mar flight
Topic 8 per price cent tourist tourism space citi flight visitor island
Topic 9 court polic per tax alleg minist said cent russian investig
Topic 10 tax per price studi cent cell rate research crore incom
Topic 11 russia russian ukrain death countri war planet earth billion itali
Topic 12 tax million death case appl game player billion madrid incom
Topic 13 appl iphon price camera smartphon galaxi govern pro minist app
Topic 14 olymp russia russian india ukrain film medal world energi compani
Topic 15 olymp medal game athlet gold work woman worker job cent
Topic 16 vaccin it india govern say tax space galaxi minist covid
Topic 17 crore bank polic galaxi case camera court smartphon phone iphon
Topic 18 russian russia ukrain price match flight film ipl compani cricket
Topic 19 appl cent iphon app per crore spain air music spanish
Topic 20 tax russian india ukrain russia tourist appl tourism incom crore
Topic 21 india flight airlin air music song passeng galaxi tax woman
Topic 22 bank spain share flight crore test russian cell tourist tourism
Topic 23 crore share music appl song vaccin price khan russian iphon
Topic 24 court planet appl tourist star said climat tourism million polic

In [52]:
col = []
for i in range(lsa_mat.shape[1]):
    col.append("topic_{}".format(i)) 

topic_df = pd.DataFrame(lsa_mat, columns = col)

topic_df["Docs"] = corpus.content

l = ["Docs"]
for i in col:
    l.append(i)
topic_df

,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,...,topic_16,topic_17,topic_18,topic_19,topic_20,topic_21,topic_22,topic_23,topic_24,Docs
0,0.132660,0.021641,0.010722,0.084790,0.122240,-0.057656,0.089161,0.117364,0.108928,0.115349,...,0.037142,-0.125137,0.191245,0.105626,0.115203,0.437787,0.139753,0.054645,0.082457,indian carrier air india report cancel delhimo...
1,0.298074,0.047899,-0.016824,0.105528,0.113631,-0.085882,0.150825,0.047473,-0.076252,-0.008911,...,-0.052244,0.067123,-0.015548,-0.041371,0.056244,0.120449,-0.062708,-0.060725,0.005218,usbas cyber secur group claim massiv cyberespi...
2,0.143541,0.011895,0.077368,0.001798,0.082709,0.016659,0.014187,0.020877,-0.096513,0.124945,...,0.014452,0.012487,-0.036849,0.007404,0.005332,-0.019304,-0.022144,-0.051488,0.086048,madra high court first bench chief justic muni...
3,0.146369,-0.018004,-0.006112,0.006118,0.034588,-0.012869,0.034272,-0.033710,-0.017860,0.171099,...,-0.092346,0.110603,0.062927,-0.092274,-0.038630,-0.000622,-0.019386,0.016021,0.067893,yearold auto driver gautam kumar thakur caught...
4,0.190434,-0.013446,0.081567,-0.043532,0.094584,0.021930,0.023794,0.010492,-0.099915,0.251992,...,0.008310,0.076657,-0.009721,-0.031896,-0.062107,-0.032355,-0.171213,0.021389,0.017085,ahead congress parti protest rise electr price...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4943,0.438677,0.064347,-0.020128,-0.082570,-0.068183,-0.012322,0.000658,-0.125271,0.114805,0.014503,...,0.017149,0.050223,0.073859,-0.033092,0.039901,-0.051230,0.033307,-0.027595,0.040928,rosario carrasco put home guarante son could g...
4944,0.460999,-0.089598,0.094231,0.035946,-0.136443,-0.070331,-0.042788,0.049324,-0.058415,-0.072711,...,-0.016639,0.024617,0.001595,0.080954,-0.050445,0.010548,-0.008244,0.013380,-0.009864,last three year spain scientif communiti warn ...
4945,0.423137,-0.120007,-0.069022,-0.095391,-0.042629,-0.037501,-0.014338,-0.143703,-0.016888,0.077921,...,0.023857,0.026522,0.030968,-0.025697,0.012926,-0.009309,-0.004178,0.006076,0.057028,decad kind famili like stay headlin ran type c...
4946,0.361888,0.007462,0.137270,-0.078664,0.098074,-0.010167,-0.008145,0.036854,-0.042219,0.128526,...,0.092056,-0.048212,-0.041086,0.036376,-0.078001,0.046601,-0.003368,0.052537,-0.015044,week specul argentinean presid cristina fernán...
4947,0.453604,0.005093,0.214710,-0.110015,-0.060381,-0.025098,0.000921,-0.024468,0.026823,-0.189832,...,0.053739,0.012404,0.058047,-0.003483,-0.070218,0.011246,0.038934,0.024426,0.015913,question product never serious address spain e...

In [45]:
col = []
for i in range(lda_matrix.shape[1]):
    col.append("topic_{}".format(i)) 

topic_df = pd.DataFrame(lda_matrix, columns = col)

topic_df["Docs"] = corpus.content

l = ["Docs"]
for i in col:
    l.append(i)
topic_df

,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,...,topic_16,topic_17,topic_18,topic_19,topic_20,topic_21,topic_22,topic_23,topic_24,Docs
0,0.007661,0.007661,0.391766,0.007661,0.007661,0.007661,0.007661,0.007661,0.007661,0.007661,...,0.007661,0.007661,0.007661,0.007661,0.007661,0.007661,0.007661,0.007661,0.007661,indian carrier air india report cancel delhimo...
1,0.004172,0.004172,0.004172,0.004172,0.004172,0.004172,0.004172,0.004172,0.004172,0.004172,...,0.004172,0.004172,0.004172,0.004172,0.004172,0.004172,0.004172,0.004172,0.004172,usbas cyber secur group claim massiv cyberespi...
2,0.007898,0.007898,0.007898,0.007898,0.007898,0.007898,0.007898,0.007898,0.007898,0.007898,...,0.007898,0.007898,0.007898,0.007898,0.007898,0.007898,0.007898,0.007898,0.007898,madra high court first bench chief justic muni...
3,0.006602,0.006602,0.006602,0.006602,0.006602,0.006602,0.006602,0.006602,0.006602,0.006602,...,0.006602,0.006602,0.006602,0.006602,0.006602,0.006602,0.006602,0.006602,0.006602,yearold auto driver gautam kumar thakur caught...
4,0.005588,0.005588,0.005588,0.005588,0.005588,0.005588,0.005588,0.005588,0.005588,0.005588,...,0.005588,0.005588,0.005588,0.005588,0.005588,0.005588,0.005588,0.005588,0.005588,ahead congress parti protest rise electr price...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4943,0.003162,0.003162,0.003162,0.003162,0.003162,0.003162,0.003162,0.003162,0.003162,0.003162,...,0.003162,0.003162,0.003162,0.003162,0.003162,0.003162,0.003162,0.003162,0.003162,rosario carrasco put home guarante son could g...
4944,0.003139,0.003139,0.003139,0.003139,0.003139,0.003139,0.003139,0.003139,0.003139,0.003139,...,0.003139,0.003139,0.003139,0.003139,0.003139,0.003139,0.003139,0.003139,0.003139,last three year spain scientif communiti warn ...
4945,0.003270,0.003270,0.003270,0.003270,0.003270,0.003270,0.003270,0.003270,0.003270,0.003270,...,0.003270,0.003270,0.003270,0.003270,0.003270,0.003270,0.003270,0.003270,0.003270,decad kind famili like stay headlin ran type c...
4946,0.003974,0.003974,0.003974,0.003974,0.003974,0.003974,0.003974,0.003974,0.003974,0.003974,...,0.003974,0.003974,0.003974,0.003974,0.003974,0.003974,0.003974,0.003974,0.003974,week specul argentinean presid cristina fernán...
4947,0.003116,0.003116,0.003116,0.003116,0.003116,0.003116,0.003116,0.003116,0.003116,0.003116,...,0.003116,0.111080,0.003116,0.003116,0.003116,0.003116,0.003116,0.003116,0.003116,question product never serious address spain e...

In [163]:
# def plot_top_words(model, feature_names, n_top_words, title):
#     fig, axes = plt.subplots(2, 12, figsize=(30, 15), sharex=True)
#     axes = axes.flatten()
#     for topic_idx, topic in enumerate(model.components_):
#         top_features_ind = topic.argsort()[:-n_top_words - 1:-1]
#         top_features = [feature_names[i] for i in top_features_ind]
#         weights = topic[top_features_ind]
#         ax = axes[topic_idx]
#         ax.barh(top_features, weights, height=0.7)
#         ax.set_title(f'Topic {topic_idx +1}',
#                      fontdict={'fontsize': 14})
#         ax.invert_yaxis()
#         ax.tick_params(axis='both', which='major', labelsize=14)

#     plt.subplots_adjust(top=0.90, bottom=0.05, wspace=0.90, hspace=0.3)
#     plt.show()

# plot_top_words(lda, feature_names, 10, "t")

In [118]:
cos_sim = pd.DataFrame(cosine_similarity(topic_df.iloc[:, :-1]))
cos_sim

,0,1,2,3,4,5,6,7,8,9,...,4938,4939,4940,4941,4942,4943,4944,4945,4946,4947
0,1.000000,0.380194,0.125201,0.137512,0.027845,0.182849,0.108955,0.440807,0.060634,0.109489,...,0.087496,0.101833,0.001560,0.333863,0.010331,0.106967,0.026860,0.142353,0.315320,0.049389
1,0.380194,1.000000,0.491404,0.457150,0.409306,0.520743,0.447037,0.516587,0.506438,0.173318,...,0.457393,0.588912,0.419489,0.466596,0.410466,0.412648,0.513113,0.406245,0.544485,0.431267
2,0.125201,0.491404,1.000000,0.508890,0.828116,0.608597,0.521918,0.556450,0.571371,0.511143,...,0.422440,0.212825,0.301777,0.239629,0.587910,0.357724,0.324893,0.354510,0.693649,0.279674
3,0.137512,0.457150,0.508890,1.000000,0.643416,0.859815,0.859729,0.822318,0.407180,0.229890,...,0.438071,0.369172,0.328397,0.304493,0.258636,0.420343,0.237829,0.502302,0.387099,0.130029
4,0.027845,0.409306,0.828116,0.643416,1.000000,0.698321,0.504559,0.591594,0.684361,0.338406,...,0.306307,0.172015,0.290600,0.272582,0.339748,0.291716,0.228029,0.319012,0.684892,0.173699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4943,0.106967,0.412648,0.357724,0.420343,0.291716,0.448535,0.421421,0.434706,0.450573,0.463065,...,0.789701,0.748046,0.801335,0.590694,0.588762,1.000000,0.653843,0.836203,0.529039,0.719902
4944,0.026860,0.513113,0.324893,0.237829,0.228029,0.299770,0.371755,0.308325,0.437638,0.137727,...,0.765491,0.741135,0.836469,0.630987,0.625067,0.653843,1.000000,0.673007,0.598777,0.840392
4945,0.142353,0.406245,0.354510,0.502302,0.319012,0.524880,0.508837,0.530197,0.421830,0.175970,...,0.770304,0.753676,0.792524,0.647986,0.460498,0.836203,0.673007,1.000000,0.547813,0.595619
4946,0.315320,0.544485,0.693649,0.387099,0.684892,0.402038,0.287184,0.454403,0.661089,0.303172,...,0.667083,0.588498,0.655909,0.648041,0.630801,0.529039,0.598777,0.547813,1.000000,0.634241
4947,0.049389,0.431267,0.279674,0.130029,0.173699,0.108086,0.146383,0.165964,0.326007,0.136626,...,0.836702,0.811158,0.837352,0.607660,0.704480,0.719902,0.840392,0.595619,0.634241,1.000000

In [117]:
# ------------------------------------------------------------
# START HERE FOR THE CONTENT BASED SIMILARITY.
#-------------------------------------------------------------


# Have  to manually enter the indices of the articles read by the user

article_indices = [1452, 3321, 554, 69, 420]

df_read = topic_df.iloc[[article_indices[0]]]

for i in range(len(article_indices)-1):
    # topic_df.iloc[[i]]
    df_read = pd.concat([df_read, topic_df.iloc[[article_indices[i+1]]]])
    
df_read.__delitem__('Docs')

articles_mean = df_read.mean(axis=0)
user_vector = articles_mean.to_frame().T
user_vector

,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,...,topic_15,topic_16,topic_17,topic_18,topic_19,topic_20,topic_21,topic_22,topic_23,topic_24
0,0.259457,-0.050156,-0.02341,0.047522,-0.039605,-0.0218,0.08581,0.109853,-0.050963,0.066189,...,0.010571,0.014796,0.014965,-0.062065,-0.002514,-0.048241,-0.040661,-0.082644,0.003575,0.059444

In [160]:
df_with_user = pd.concat([topic_df, user_vector], ignore_index=True)
df_with_user

# The last row is the required cosine similarity of the user vector with the vectorized documents.

,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,...,topic_16,topic_17,topic_18,topic_19,topic_20,topic_21,topic_22,topic_23,topic_24,Docs
0,0.132660,0.021641,0.010722,0.084790,0.122240,-0.057656,0.089161,0.117364,0.108928,0.115349,...,0.037142,-0.125137,0.191245,0.105626,0.115203,0.437787,0.139753,0.054645,0.082457,indian carrier air india report cancel delhimo...
1,0.298074,0.047899,-0.016824,0.105528,0.113631,-0.085882,0.150825,0.047473,-0.076252,-0.008911,...,-0.052244,0.067123,-0.015548,-0.041371,0.056244,0.120449,-0.062708,-0.060725,0.005218,usbas cyber secur group claim massiv cyberespi...
2,0.143541,0.011895,0.077368,0.001798,0.082709,0.016659,0.014187,0.020877,-0.096513,0.124945,...,0.014452,0.012487,-0.036849,0.007404,0.005332,-0.019304,-0.022144,-0.051488,0.086048,madra high court first bench chief justic muni...
3,0.146369,-0.018004,-0.006112,0.006118,0.034588,-0.012869,0.034272,-0.033710,-0.017860,0.171099,...,-0.092346,0.110603,0.062927,-0.092274,-0.038630,-0.000622,-0.019386,0.016021,0.067893,yearold auto driver gautam kumar thakur caught...
4,0.190434,-0.013446,0.081567,-0.043532,0.094584,0.021930,0.023794,0.010492,-0.099915,0.251992,...,0.008310,0.076657,-0.009721,-0.031896,-0.062107,-0.032355,-0.171213,0.021389,0.017085,ahead congress parti protest rise electr price...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4944,0.460999,-0.089598,0.094231,0.035946,-0.136443,-0.070331,-0.042788,0.049324,-0.058415,-0.072711,...,-0.016639,0.024617,0.001595,0.080954,-0.050445,0.010548,-0.008244,0.013380,-0.009864,last three year spain scientif communiti warn ...
4945,0.423137,-0.120007,-0.069022,-0.095391,-0.042629,-0.037501,-0.014338,-0.143703,-0.016888,0.077921,...,0.023857,0.026522,0.030968,-0.025697,0.012926,-0.009309,-0.004178,0.006076,0.057028,decad kind famili like stay headlin ran type c...
4946,0.361888,0.007462,0.137270,-0.078664,0.098074,-0.010167,-0.008145,0.036854,-0.042219,0.128526,...,0.092056,-0.048212,-0.041086,0.036376,-0.078001,0.046601,-0.003368,0.052537,-0.015044,week specul argentinean presid cristina fernán...
4947,0.453604,0.005093,0.214710,-0.110015,-0.060381,-0.025098,0.000921,-0.024468,0.026823,-0.189832,...,0.053739,0.012404,0.058047,-0.003483,-0.070218,0.011246,0.038934,0.024426,0.015913,question product never serious address spain e...
4948,0.259457,-0.050156,-0.023410,0.047522,-0.039605,-0.021800,0.085810,0.109853,-0.050963,0.066189,...,0.014796,0.014965,-0.062065,-0.002514,-0.048241,-0.040661,-0.082644,0.003575,0.059444,NaN

In [139]:
cos_sim_a = pd.DataFrame(cosine_similarity(df_with_user.iloc[:, :-1]))
# cos_sim_a.iloc[[-1]].__delitem__('Docs')
cos_sim_user = cos_sim_a.iloc[[-1]]
cos_sim_user.drop(cos_sim_user.columns[len(cos_sim_user.columns)-1], axis=1, inplace=True)
cos_sim_user

# Extracted the cosine similarity of user with docs row.

C:\Users\bhavi\anaconda3\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,0,1,2,3,4,5,6,7,8,9,...,4938,4939,4940,4941,4942,4943,4944,4945,4946,4947
4948,0.022073,0.559426,0.603883,0.439077,0.573649,0.557428,0.507744,0.456028,0.605449,0.271798,...,0.499019,0.515789,0.528757,0.522439,0.420144,0.498458,0.657178,0.562021,0.585371,0.414607

In [150]:
best_n = cos_sim_user.apply(lambda s, n: pd.Series(s.nlargest(n).index), axis=1, n=10)
best_n = best_n.to_numpy()[0]
best_n

# Obtained the top 10 recommended article's indices.

array([ 868, 3365,  530,  527,  528,  842, 1434,  558,  877, 2063],
      dtype=int64)

In [162]:
df_rec = topic_df.iloc[[best_n[0]]]

for i in range(len(best_n)-1):
    # topic_df.iloc[[i]]
    df_rec = pd.concat([df_rec, topic_df.iloc[[best_n[i+1]]]])
    
print('Recommended Articles')    
df_rec.iloc[:,-1:]

Recommended Articles

                                                   Docs
868   young irish research student name jocelyn bell...
3365  lawsuit file actress juhi chawla delhi high co...
530   brightest comet pass earth light sky day disin...
527   chief unit nation announc project wednesday pu...
528   human plan return moon scientist remov seal on...
842   jame webb space telescop begun labori process ...
1434  mani peopl wit massiv unexplain firebal light ...
558   black hole known villain capabl end world desi...
877   astronom felt need warn world apocalyps hand l...
2063  astronom felt need warn world apocalyps hand l...